.homepage-light {
    background-image: url('https://st2.depositphotos.com/4410397/6889/v/950/depositphotos_68899621-stock-illustration-office-line-icon-pattern-set.jpg');
    padding: 15px;
}

.homepage-dark {
    background: url('https://th.bing.com/th/id/R.8cedeb7b247e5b2b736895d17d03949a?rik=ng6UMA%2fn%2bjSKiw&riu=http%3a%2f%2fwww.baltana.com%2ffiles%2fwallpapers-13%2fAbstract-Black-Background-Desktop-Widescreen-Wallpapers-34038.jpg&ehk=gonvy78%2bzaAjt2R%2f8PPZnUIXoMSUnVhDCIo9kR%2bc5kA%3d&risl=&pid=ImgRaw&r=0');
    padding: 15px;
}