.news-item {
    width: '50px'
}

@media screen and (max-width: '750px') {
    .news-item {
        width: '12px';
    }
}

@media screen and (max-width: '450px') {
    .news-item {
        width: '1px';
    }
}